<div class="container post-block">
    <article>
        <h2 class="text-center">@Model.name</h2>
        <img class="post-image" src="@Model.img" />
        <p>@Model.description</p>
        <p>@Model.price</p>
    </article>
</div>